---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<div class="flex justify-center h-20 border-gray-600 bg-gray-600 text-slate-200">
		<div class="mr-6 m-2 mt-6">logo</div>
		<div class="ml-14 m-2 mt-6">asd</div>
		<div class="m-2 mt-6">fsasd </div>
		<div class="m-2  mt-6">asdsda </div>
		<div class="flex ml-32 mx-3  border-green-700 bg-green-700 h-5 w-24 mt-1 justify-center box-border">		
			<div class=" h-auto w-auto  text-xs mr-1">icon</div>
			<div class="h-auto w-auto text-xs">as</div>
		</div>
		<div class="mx-3">asdas</div>
		<div class="mx-3">|</div>
		<div class="mx-3 inline-flex  ">asda
			<div class="ml-1"> icon</div>
		</div>
		

</div>

<div class="group flex  w-20 items-center  transition-colors duration-300 hover:cursor-pointer bg-blue-500  text-white/80 py-2 px-4 rounded-lg hover:bg-blue-600 ">boton <div class="pl-2 group-hover:animate-spin">flecha</div></div>